<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Inicio</title>
    <link rel="shortcut icon" href="../image/renacer_logo.PNG">
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/estilos.css" />
    <link rel="stylesheet" href="../css/stilos.css" />
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="btn-menu">
                <label for="btn-menu">☰</label>

            </div>
            <div class="logo"/ style="color:#FCFAFA">

                <h3 style="color:#FCFAFA">
                    <center>LISTADO DE DOCTORES</center>
                </h3>
                <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Nombre y apellido
                        </th>
                        <th>
                            Especialidad
                        </th>
                        <th>
                            Estado
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            ...
                        </td>
                        <td>
                            0...
                        </td>
                        <td>
                            ...
                        </td>
                    </tr>
                    
                </tbody>
            </table>
               
            </div>
            
        </div>
    </header>
    <div class="capa"></div>
    <!--	--------------->
    <input type="checkbox" id="btn-menu" />
    <div class="container-menu">

        <div class="cont-menu">
            <nav>
                <a href="Inicio.html">Inicio</a>
                <a href="Doctores.html">Doctores</a>
                <a href="#">Pacientes</a>
                <a href="#">Citas</a>
                <a href="loginvista.html">Salir</a>
            </nav>
            <label for="btn-menu">✖️</label>
        </div>
        
    </div>
</body>

</html>