<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <title>Inicio</title>
    <link rel="shortcut icon" href="../image/renacer_logo.PNG">
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/estilos.css" />
    <link rel="stylesheet" href="../css/stilos.css" />
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="btn-menu">
                <label for="btn-menu">☰</label>

            </div>
            <div class="logo"/>

                <h3 style="color:#FCFAFA">
                    <center>CENTRO ODONTOLOGICO RENACER</center>
                </h3>
               <center><img src="../image/renacer_logo.PNG" height="350px" width="1200"></center>
               <h4>
                   EFEFFDFDFDFFD
               </h4>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet eleifend est. Pellentesque velit mi, vestibulum et volutpat a, egestas vitae justo. Maecenas ac neque urna. Mauris viverra, purus id tincidunt posuere, turpis felis rhoncus orci, nec sagittis tellus justo id dui. Integer ac volutpat enim. Quisque volutpat nisl vitae dolor tristique vel fringilla tellus sodales. Morbi ac ipsum mauris, ut faucibus eros. Nam ultricies arcu nibh. Maecenas non velit a quam scelerisque ullamcorper. Nunc vulputate augue vitae nisi ornare dictum scelerisque enim placerat. Aliquam erat volutpat. Sed rutrum tellus eget enim iaculis pellentesque.</p>

               <p>Praesent mi lorem, venenatis et pharetra vestibulum, tincidunt nec dolor. Integer pretium nulla nec mi laoreet laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque egestas vulputate nisl in blandit. Mauris eget ligula in ligula feugiat feugiat ultrices ac quam. Donec egestas purus nec quam vulputate accumsan. Suspendisse potenti. Donec auctor ultricies orci eget mollis. Aliquam massa neque, feugiat ac vestibulum a, tempor in nisi. Phasellus egestas, ipsum vitae semper hendrerit, augue libero aliquam sem, sed tempor augue augue non risus. Aliquam adipiscing convallis metus, nec elementum lorem mollis quis. Maecenas ut ipsum nibh, a dictum sapien.</p>

               <p>In faucibus vestibulum est, a varius arcu ultrices ac. Fusce sagittis libero sit amet erat placerat gravida. Sed mattis est a enim lacinia scelerisque volutpat ipsum lobortis. Donec vitae laoreet justo. Nam velit nisl, gravida eget laoreet suscipit, imperdiet ut urna. Etiam tincidunt fermentum nisi, id eleifend tellus volutpat in. Mauris hendrerit scelerisque sem nec pharetra. Curabitur facilisis nisi sollicitudin nibh dictum nec vehicula lectus consectetur. Vivamus eu magna a quam aliquet accumsan. Vivamus non urna aliquam lectus imperdiet sodales. Morbi consequat sagittis leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

               <p>Morbi ultricies semper tempor. Aenean sit amet tempor lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce vehicula tempus neque vel venenatis. Nullam vehicula sagittis libero, in lobortis nisi fringilla in. Sed sed erat ipsum. Quisque mi metus, bibendum et porta nec, malesuada ac dui. Suspendisse laoreet, magna a malesuada pharetra, ipsum velit ollicitudin est, a consequat quam eros non nisi. Nunc lectus turpis, vestibulum sit amet volutpat vel, tempor a ipsum. Nullam egestas blandit purus sit amet ullamcorper. Morbi quis dapibus tortor. In hac habitasse platea dictumst. Fusce semper nibh eget neque ultrices auctor. Suspendisse potenti. Suspendisse dapibus ante at erat porta bibendum.</p>
            </div>
            
        </div>
    </header>
    <div class="capa"></div>
    <!--	--------------->
    <input type="checkbox" id="btn-menu" />
    <div class="container-menu">

        <div class="cont-menu">
            <nav>
                <a href="Inicio.html">Inicio</a>
                <a href="Doctores.html">Doctores</a>
                <a href="#">Pacientes</a>
                <a href="#">Citas</a>
                <a href="loginvista.html">Salir</a>
            </nav>
            <label for="btn-menu">✖️</label>
        </div>
        
    </div>
</body>

</html>